:root {
  --bg-theme: #14120b;
  --btn-theme: #edecec;
  --font-sans:
    "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  --logo-bg-theme: #1b1913;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-theme);
  color: #edecec;
  font-family: var(--font-sans);
}

header {
  background-color: var(--bg-theme);
  width: 75%;
  margin: 0px auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: grid;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  height: 52px;
  padding: 10px 20px;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  width: 95.37px;
  margin-left: 0;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--btn-theme);
  display: inline-flex;
  cursor: pointer;
  padding: 5px 16px;
}

.start-btn button {
  color: var(--btn-theme);
  background-color: var(--bg-theme);
  font-family: var(--font-sans);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: inline-flex;
  font-size: 14px;
  padding: 5.6px 10.5px 5.88px;
  border: 0.5px solid var(--btn-theme);
  font-weight: 400;
  border-radius: 3.40282e38px;
}

#download-btn {
  background-color: var(--btn-theme);
  color: var(--bg-theme);
  margin-left: 5px;
}

main {
  width: 100%;
}

main section {
  display: flex;
  justify-content: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: start;
  padding: 112px 10px 67.2px;
}

.main-headline {
  margin-bottom: 22.4px;
}

.main-headline h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.055rem;
}

.CTA button {
  background-color: var(--btn-theme);
  color: var(--bg-theme);
  border: 1px solid var(--btn-theme);
  cursor: pointer;
  padding: 10px 21.6px 10px;
  border-radius: 3.40282e38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 500;
}

.CTA button span {
  width: 10px;

  margin-left: 3px;
  border-radius: 5px;
}

.image-product {
  width: 100%;
}

.image-product img {
  width: 100%;
}

.trustedby {
  align-items: center;
  flex-direction: column;
  width: 75%;
  padding: 0px 20px 33.6px;
}

.container h2 {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  text-align: center;
}

.company-logo {
  display: grid;
  height: 6.25rem;
  width: auto;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 10px;
}

.company-logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7.5px;
  width: 100%;
  height: 100px;
  background-color: var(--logo-bg-theme);
}

.company-logo div img {
  height: 2.5rem;
}

.feature-section {
  display: flex;
  justify-content: center;
  width: 75%;
  align-items: center;
  padding: 67.2px 10px;
  flex-direction: column;
}

.features {
  display: flex;
  align-items: center;
  background-color: var(--logo-bg-theme);
  border-radius: 4px;
  gap: 3.3rem;
  padding: 17.5px;
  margin-top: 100px;
  box-sizing: border-box;
  max-width: 100%;
}

.agent-text h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005rem;
}

.human-ai {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005rem;
  color: var(--btn-theme);
  opacity: 60%;
  white-space: nowrap;
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.feature-img img {
  width: 100%;
  height: auto;
}

.agent-btn {
  margin-top: 15px;
}

.agent-btn button {
  cursor: pointer;
  color: #f54e00;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}

.testimonial {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67.2px 20px;
}

.testimonial-cards {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.testimonial-heading {
  margin-bottom: 56px;
}

.testimonial-heading h1 {
  font-size: 40px;
  letter-spacing: -0.02rem;
}

.font-class {
  font-family: var(--font-sans);
  font-weight: 400;
  letter-spacing: 0.005rem;
  line-height: 1.5;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  padding: 15.9px 17.5px 17.5px;
  background-color: var(--logo-bg-theme);
  color: var(--btn-theme);
  justify-content: space-between;
}

.card-content {
  display: block;
  font-size: 17px;
}

.cardirole {
  display: flex;
  align-items: center;
  margin-top: 44.8px;
  justify-content: flex-start;
}

.cardirole img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 4px;
}

.role-name {
  font-size: 14px;
}

.role-name span {
  opacity: 60%;
}
