:root {
  --bg-theme: #14120b;
  --btn-theme: #edecec;
  --font-sans:
    "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  --logo-bg-theme: #1b1913;
}
@font-face {
  font-family: CursorGothic;
  src: url(/fonts/CursorGothic_Regular-s.p.a361088d.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url(/fonts/CursorGothic_Italic-s.p.00bb2606.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: CursorGothic;
  src: url(/fonts/CursorGothic_Bold-s.p.95169710.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url(/fonts/CursorGothic_BoldItalic-s.p.036859cb.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-theme);
  color: #edecec;
  font-family: var(--font-sans);
}

header {
  background-color: var(--bg-theme);
  width: 75%;
  margin: 0px auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: grid;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  height: 52px;
  padding: 10px 20px;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  width: 95.37px;
  margin-left: 0;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--btn-theme);
  display: inline-flex;
  cursor: pointer;
  padding: 5px 16px;
}

.start-btn button {
  color: var(--btn-theme);
  background-color: var(--bg-theme);
  font-family: var(--font-sans);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: inline-flex;
  font-size: 14px;
  padding: 5.6px 10.5px 5.88px;
  border: 0.5px solid var(--btn-theme);
  font-weight: 400;
  border-radius: 3.40282e38px;
}

#download-btn {
  background-color: var(--btn-theme);
  color: var(--bg-theme);
  margin-left: 5px;
  font-weight: 400;
}

main {
  width: 100%;
}

main section {
  display: flex;
  justify-content: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: start;
  padding: 112px 10px 67.2px;
}

.main-headline {
  margin-bottom: 22.4px;
}

.main-headline h1 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.005rem;
}

.CTA button {
  background-color: var(--btn-theme);
  color: var(--bg-theme);
  border: 0.5px solid var(--btn-theme);
  cursor: pointer;
  padding: 10px 21.6px 10px;
  border-radius: 3.40282e38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 500;
}

.CTA button span {
  width: 10px;

  margin-left: 3px;
  border-radius: 5px;
}

.image-product {
  width: 100%;
}

.image-product img {
  width: 100%;
}

.trustedby {
  align-items: center;
  flex-direction: column;
  width: 75%;
  padding: 0px 20px 33.6px;
}

.container h2 {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  text-align: center;
}

.company-logo {
  display: grid;
  height: 6.25rem;
  width: auto;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 10px;
}

.company-logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7.5px;
  width: 100%;
  height: 100px;
  background-color: var(--logo-bg-theme);
}

.company-logo div img {
  height: 2.5rem;
}

.feature-section {
  display: flex;
  justify-content: center;
  width: 75%;
  align-items: center;
  padding: 67.2px 10px;
  flex-direction: column;
}

.features {
  display: flex;
  align-items: center;
  background-color: var(--logo-bg-theme);
  border-radius: 4px;
  gap: 3.3rem;
  padding: 17.5px;
  margin-top: 100px;
  box-sizing: border-box;
  max-width: 100%;
}

.agent-text h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005rem;
}

.human-ai {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005rem;
  color: var(--btn-theme);
  opacity: 60%;
  white-space: nowrap;
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.feature-img img {
  width: 100%;
  height: auto;
}

.agent-btn {
  margin-top: 15px;
}

.agent-btn button {
  cursor: pointer;
  color: #f54e00;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}

.testimonial {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67.2px 20px;
}

.testimonial-cards {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.testimonial-heading {
  margin-bottom: 56px;
}

.testimonial-heading h1 {
  font-size: 2.25rem;
  letter-spacing: -0.02rem;
}

.font-class {
  font-family: var(--font-sans);
  font-weight: 400;
  letter-spacing: 0.005rem;
  line-height: 1.5;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  padding: 15.9px 17.5px 17.5px;
  background-color: var(--logo-bg-theme);
  color: var(--btn-theme);
  justify-content: space-between;
}

.card-content {
  display: block;
  font-size: 1rem;
}

.cardirole {
  display: flex;
  align-items: center;
  margin-top: 44.8px;
  justify-content: flex-start;
}

.cardirole img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 4px;
}

.role-name {
  font-size: 14px;
}

.role-name span {
  opacity: 60%;
}

.use-cases {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 67.2px 20px;
}

.use-case-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
}

.use-case-heading {
  margin-top: 44.8px;
  margin-bottom: 22.4px;
}

.use-case-heading h2 {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.0125rem;
}

.use-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-card p span {
  opacity: 60%;
}

.card-btn {
  margin-top: 15px;
}

.card-btn a {
  text-decoration: none;
  color: #f54e00;
}

.case-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15.9px;
  max-width: 100%;
  background-color: var(--logo-bg-theme);
  border-radius: 4px;
}

.video {
  padding-top: 17.5px;
}

.video video {
  max-width: 100%;
  height: auto;
  display: block;
  min-width: 0;
  border-radius: 4px;
}

.video img {
  min-width: 0;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.changelog {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 67.2px 20px;
}

.changelog-heading {
  margin-bottom: 22.4px;
}

.changelog-heading h2 {
  font-size: 1.635rem;
}

.changelog-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.chagelog-card-1 {
  padding: 15.9px 17.5px 20px;
  border-radius: 4px;
  background-color: var(--logo-bg-theme);
}

.changelog-date p {
  opacity: 60%;
}

.changelog-info {
  margin-top: 14px;
}

.about-section {
  padding: 67.2px 20px;
}

.about {
  display: flex;
  width: 75%;
  background-color: var(--logo-bg-theme);
  border-radius: 4px;
  padding: 17.5px;
  align-items: center;
}

.about-text h3 {
  font-size: 1.375rem;
  letter-spacing: -0.005rem;
  line-height: 1.3;
  white-space: nowrap;
}

.about-text {
  padding-right: 80px;
}

.about-img {
  width: 100%;
}

.about-img img {
  min-width: 0;
  max-width: 100%;
  border-radius: 4px;
}

.about-info-btn {
  margin-top: 22.5px;
}

.second-cta {
  width: 75%;
  display: flex;
}

.second-cta-section {
  background-color: var(--logo-bg-theme);
  width: 100%;
  height: auto;
  padding: 89.6px 20px;
  margin-top: 67.2px;
}

.second-cta-heading {
  padding-right: 200px;
}

.second-cta-cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 12.8px;
}

.cta-cards {
  background-color: #201e18;
  border-radius: 4px;
  padding: 13.4px 25px 15px;
}

.cta-date {
  margin-top: 22.4px;
}

.cta-date p {
  opacity: 60%;
}

.cta-text p span {
  opacity: 60%;
}

.cta-button {
  margin-top: 22.4px;
}

.cursor-now {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 134.5px 20px;
  justify-content: center;
  align-items: center;
}

.cursor-now-heading h2 {
  font-size: 72px;
  letter-spacing: -2.16px;
  line-height: 1.1;
}

.cursor-now-heading {
  margin-bottom: 22.4px;
}

.cursor-now-download button {
  margin-bottom: 0px;
}

footer {
  background-color: var(--logo-bg-theme);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 75%;
}
