* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #14120b;
  color: #edecec;
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 52px;
  margin: 0, 0;
  padding: 10px 20px;
  width: full;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.links ul li a {
  text-decoration: none;
}
